<app-header titulo="Grid"></app-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/stan-lee.jpg"></ion-img>
        </ion-card>

        <ion-card-header>
          <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
          <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum veritatis perferendis culpa iste odio voluptatum natus eos? Veritatis libero harum itaque corrupti modi rem eligendi. Asperiores, ut! Fugiat, sapiente quis!
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
